
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus®">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title> Rising-Bolg</title>
    <style type="text/css">
        input::-webkit-input-placeholder {
            vertical-align:text-top;
        }
        a:link, a:visited {
            text-decoration: none; /*超链接无下划线*/
        }

        a:hover {
            text-decoration: underline; /*鼠标放上去有下划线*/
        }

        body {
            margin: 0px;
            padding: 0px;
        }

        div#header {
            width: 100%;
            height: 100px;
        }

        div#content_menu {
            height: 800px;
            width: 500px;
            background-size: cover;
            float: left;
           
        }
        div#b1   {
            height: 50px;
            width: 500px;
            background-size: cover;
            float: left;
            background :#EEEED1;
        }
        #b2 {
           font-size: 25px;
            color: black;
            font-family: 楷体;
            margin-top: 10px;
            margin-left: 185px;
        }
       
         div#b3   {
            height: 200px;
            width: 200px;
            background-size: cover;
            float: left;
            background :white;
             margin-left: 135px;
         margin-top: 20px;
        }
         #b5{
font-size: 25px;
            color: black;
            font-family: 楷体;
            margin-top: 300px;
            margin-left: 10px;
         }
          #b6{
font-size: 25px;
            color: black;
            font-family: 楷体;
            margin-top: 10px;
            margin-left: 10px;
         }
           #b7{
font-size: 25px;
            color: black;
            font-family: 楷体;
            margin-top: 10px;
            margin-left: 10px;
         }
           #b8{
            width: 250px;
            height: 30px;
            background-color: rgba(255,255,255,0.1);
            border-radius: 10px;
            text-indent: 2em;
            border: 3px solid #BFEFFF;
             margin-top: 10px;
          
        }
        div#content_body {
            width: 1402px;
            height: 800px;
            float: left;
           
        }
        #b9{
            height: 800px;
            width: 1392px;
            margin-left: 10px;
   
  
        }
        #c1 {
             height: 800px;
            width: 1000px;

   
        

        }
         #c2 {
             height: 800px;
            width: 392px;
             margin-left: 1000px;
    margin-top: -800px;
        

        }
         div#c3 {
            width: 393px;
            height:50px;
            float: left;
            background :#EEEED1;
           
        }
          #c4 {
           font-size: 25px;
            color: black;
            font-family: 楷体;
            margin-top: 10px;
            margin-left: 25px;
        }
          div#c5 {
            width: 390px;
            height:250px;
            float: left;
           
           margin-top: -15px;
        }
           div#c6 {
            width: 393px;
            height:50px;
            float: left;
            background :#EEEED1;
             margin-top: 250px;
           
        }
            #c7{
            width: 380px;
            height: 300px;
            background-color: rgba(255,255,255,0.1);
            border-radius: 10px;
            text-indent: 2em;
            border: 3px solid #BFEFFF;
            margin-top: 30px;
          
        }
             #c8 {
            background-color: rgba(255,255,255,0.1);
            border-radius: 10px;
            height: 40px;
            width: 70px;
            
            font-size: 20px;
            font-family: 楷体;
            margin-left: 280px;
              margin-top: 30px;
        }

        div#footer {
            width: 100%;
            height: 78px;
            clear: both; /**清除浮动*/
        }

        #标志 {
            margin-top: 10px;
            margin-left: 20px;
        }
        
        #博客网 {
            font-size: 70px;
            color: #1ABDE6;
            font-family: 楷体;
            margin-top: -80px;
            margin-left: 300px;
            text-shadow: 2px 2px 2px #000;
        }
          #首页 {
            font-size: 25px;
            color:black;
            font-family: 楷体;
            margin-top: -100px;
            margin-left:1500px;
          
        }
            #登陆 {
            font-size: 25px;
            color:black;
            font-family: 楷体;
            margin-top: -55px;
            margin-left:1600px;
          
        }
            #注册 {
            font-size: 25px;
            color:black;
            font-family: 楷体;
            margin-top: -54px;
            margin-left:1700px;
          
        }
        #a6 {
            font-size: 10px;
            color: black;
            font-family: 楷体;
            margin-left: 800px;
        }
    </style>
</head>
<body background="~/img/1.jpg" background-repeat:no-repeat;>


    <div id="header">
        <img id="标志" src="~/img/标志.png" width="350" height="80" alt="Rising的LOGO" />
        <body1 link="black" alink="black" vlink="black">
            
            <p id="博客网">博客网</p>
            <p id="首页"><a href="~/Home/index">首页</a></p>
            <p id="登陆"><a href="~/Home/Signin">登陆</a></p>
            <p id="注册"><a href="~/Home/register">注册</a> </p>
            </div>
    <div id="content_menu" 内容菜单>
   <div id="b1">
<p id="b2">个人资料</p>
       </div>
      <div id="b3">
    <div id="b4"></div>
</div>
        <p id="b5">用 户 名: <input type="text" id="b8" placeholder="" /></p>
        <p id="b6">注册日期：<input type="text" id="b8" placeholder="" /></p>
        <p id="b7">博文数目：<input type="text" id="b8" placeholder="" /></p>
        </div>
    <div id="content_body" 内容主题>
<div id="b9">
    <div id="c1">
</div>
    <div id="c2">
        <div id="c3">
            <p id="c4">博友回复：</p>
            <div id="c5"> <p> </p></div>
        </div> 
        <div id="c6">
            <p id="c4">我的回复：</p>    
        </div>
        <textarea type="text" id="c7" placeholder="字数不超过200" ></textarea>
        <input type="submit" value="提交" id="c8" />
        </div>

</div>

    </div>
    <div id="footer">
        <p id="a6">站务联系:110     商务合作:120    </p>
    </div>

</body>
</html>
