
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus?">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>Rising-Blog</title>
    <style>
        * {
            margin: 0px;
            padding:0px;
        }

        body {
            width: 100%;
            height: 100vh;
            background: white;
        }

        #div1 {
            width: 100%;
            height: 80px;
            background: #00FFFF;
        }

        .a1 {
            padding-left: 68em;
            padding-top: 10em;
            width: 16px;
            height: 16px;
        }


        #big {
            width: 1000px;
            height: 1000px;
            margin-left: 23em;
            margin-top: 38px;
        }

        #top {
            width: 1000px;
            height: 20px;
        }

        .a2 {
            width: 400px;
        }

        .span1 {
            margin-left: 1800px;
            font-size: 30px;
            font-family: 宋体；;
        }

        #center1 {
            margin-top: 67px;
            margin-left: 27em;
        }

        .a4 {
            width: 250px;
            height: 35px;
            background: white;
            border-radius: 10px;
            border: 3px solid #BFEFFF;
            text-indent: 2em;
        }

        .a5 {
            margin-top: 12px;
        }

        .a3 {
            width: 250px;
            height: 35px;
            background: white;
            border-radius: 10px;
            text-indent: 2em;
            border: 3px solid #BFEFFF;
        }


        option {
            background: #ffff99;
            color: red;
        }

        .b1 {
            border: 0 none;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-family: Arial,sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 0;
            margin-top: 10px;
            padding: 7px 10px;
            text-transform: none;
            transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            width: 16.795%;
            /* auto */
            text-align: center;
            background: #C7C7C7;
            color: black;
        }

            .b1:hover {
                background: black;
                color: white;
            }


        .a7 {
            margin-left: 32em;
            margin-top: -21px;
            width: 100px;
        }

        .a6 {
            border-color: #B3B3B3;
            margin-right: -90px;
        }
    </style>
</head>
<body>
    <div id="div1"><p class="p1" style="margin-top:14px"><span class="span1"><a href="~/Home/register">注  册</a></span></p></div>

    <div class="div11"></div>
    <div id="big">
        <div id="top">
            <hr class="a6" ,style="margin-left:50px" />
            <div class="a7" style="background:white">
                <p align="center"><h1>登             陆</h1></p>
            </div>
            <div id="center1">
                <input type="text" class="a4" placeholder="请输入昵称" />
                <p class="a5"><input type="text" class="a3" placeholder="请输入账号" /></p>
                <p class="a5"><input type="text" class="a3" placeholder="请输入密码" /></p>

                <input type="submit" value="登陆" class="b1" />
            </div>
        </div>
        </div>
</body>
</html>
